<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>729418199644-7mlc9puvaomai3uajnhdlpv30hu6cmoi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.729418199644-7mlc9puvaomai3uajnhdlpv30hu6cmoi</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>729418199644-ekksb15a6pesnjed2clip6uakp6sle4r.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDXO3KJ9Fdadkds6TH98ooU0YIEzVWvJRQ</string>
	<key>GCM_SENDER_ID</key>
	<string>729418199644</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>imps.evminute</string>
	<key>PROJECT_ID</key>
	<string>evminute-519e3</string>
	<key>STORAGE_BUCKET</key>
	<string>evminute-519e3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:729418199644:ios:9a24415bf9bf46d40b6c99</string>
</dict>
</plist>